html {
  margin: 0 -5px 0 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  overflow: hidden;
  scrollbar-color: rgb(51, 102, 255) white;
}

body {
  margin: 0 10px 0 0;
}

#dashboard {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 70% 30%;
  height: calc(100vh - 15px);
  gap: 10px;
  background-color: #fafafa;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

#dashboard > * {
  background-color: white;
}

#map-container {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

#map-overlay-title{
  font-size: 18px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
}
#map-overlay-content {
  font-size: 12px;
  font-weight: 400;
  overflow: auto;
  text-align: justify;
  margin-bottom: 5px;
}

#map-overlay-link{
  position: absolute;
  bottom: 7px;
  right: 9px;
  color: black;
  text-decoration: none;
  font-size: 10px;
  font-weight: 400;
}

#map-overlay-link:hover{
  color: rgb(51, 102, 255);
  text-decoration: underline;
}


#map-overlay {
  position: absolute;
  z-index: 9001;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  grid-column: 1 / 2;
  gap: 0;
  width: calc(100% - 150px);
  max-width: 500px;
  left: 10px;
  top: 10px;
  transition: all .5s linear;
}

#map-overlay-container{
  padding: 20px 20px 20px 20px;
  position: relative;
}

#map-overlay-close{
  position: absolute;
  right: 10px;
  top: -10px;
  cursor: pointer;
  font-size: 40px;
}

#map-overlay-close:hover{
  color: rgb(51, 102, 255);
}




#corona-chart {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
}

#corona-chart-controls {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 60px;
  top: 40px;
  font-size: 10pt;
}

#map-controls {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 10pt;
  z-index: 9000;
  padding: 10px;
  border-radius: 2px;
  width: 100px;
}

.corona-chart-legend-entry{
  margin-bottom: 5px;
  cursor: pointer;
  color: #8f9bb3;
}

.corona-chart-legend-entry-active{
  color: rgb(0, 214, 143);
  font-weight: 700;
}


.inline-icon {
  vertical-align: bottom;
  font-size: 13pt !important;
}


#commodity-charts {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  overflow-y: auto;
  margin-top: 70px;
  scroll-behavior: smooth;
}


.active-commodity-chart{
  background-color: rgba(0, 214, 143, 0.2);
}

.commodity{
  transition: background-color 1500ms linear;
}

.commodity:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #fafafa;
  border-bottom-width: 10px;
  border-right-style: solid;
  border-right-color: #fafafa;
  border-right-width: 10px;
}


path {
  fill: none;
  stroke: rgb(51, 102, 255);
}

text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.axis {
  color: #8f9bb3;
  font-size: 12px;
  font-weight: 400;
}

.axis path{
  stroke: #8f9bb3;
  fill: none;
}

.axis line{
  width: 30px;
}

.slider{

}

.curve{
  stroke-width: 3px;
  stroke: rgb(0, 214, 143);
}

.country-curve{
  stroke: rgb(255, 170, 0);
}


.leaflet-interactive{
  stroke-width: 0;
}

.title{
  font-weight: 700;
}

.circle-selected{
  fill: #17a2b8 !important;
  stroke: #17a2b8 !important;
}

.chart-event{
  stroke-width: 3px;
  cursor: pointer;
}

.chart-event-tooltip{
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  pointer-events: none;
  z-index: 9990;
  padding: 10px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 12px;
}

.slider-tooltip{
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  padding: 10px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: 600;
  width: 100px;
}

#commodity-control {
  background-color: #FFFFFF;
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  grid-column: 2 / 3;
  width: calc(100% - 40px);
  gap: 10px;
  border-bottom: 10px solid #fafafa;
}

.commodity-control-button {
  background-color: white;
  box-shadow: 0 0 0 1px black inset;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  flex-grow: 1;
  text-align: center;
  vertical-align: bottom;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  height: 30px;

}
