html {
  margin: 0 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

body {
  margin: 0 10px 0 0;
}

#dashboard {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 70% 30%;
  height: calc(100vh - 15px);
  gap: 10px;
  background-color: #fafafa;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}

#dashboard > * {
  background-color: white;
}

#map-container {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

#map-overlay-content {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);

}

#map-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 3000;
  display: none;
}


#map-overlay-close{
  position: absolute;
  right: 20px;
  top: 0;
  cursor: pointer;
}


#corona-chart {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
}

#corona-chart-controls {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 60px;
  top: 40px;
  font-size: 10pt;
}

#map-controls {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 10pt;
  z-index: 9999;
  padding: 10px;
  border-radius: 2px;
  width: 100px;
}

.corona-chart-legend-entry{
  margin-bottom: 5px;
  cursor: pointer;
  color: #8f9bb3;
}

.corona-chart-legend-entry-active{
  color: rgb(0, 214, 143);
  font-weight: 700;
}


.inline-icon {
  vertical-align: bottom;
  font-size: 13pt !important;
}


#commodity-charts {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  overflow-y: auto;
}

.commodity-control-button {
  background-color: white;
  color: black;
  margin: 20px 5px 20px 5px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}


.commodity-control-button:focus{
  border: 2px solid blue;
}


path {
  fill: none;
  stroke: rgb(51, 102, 255);
}

text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.axis {
  color: #8f9bb3;
  font-size: 12px;
  font-weight: 400;
}

.axis path{"#ff3d71"
  stroke: #8f9bb3;
  fill: none;
}

.axis line{
  width: 30px;
}

.slider{

}

.curve{
  stroke-width: 3px;
  stroke: rgb(0, 214, 143);
}

.country-curve{
  stroke: rgb(255, 170, 0);
}

/*
.button {
  background-color: rgb(255, 170, 0);
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  color: white;
}
*/

.leaflet-interactive{
  stroke-width: 0;
}

.title{
  font-weight: 700;
}

.circle-selected{
  fill: #17a2b8 !important;
  stroke: #17a2b8 !important;
}

.chart-event{
  stroke: rgb(102, 16, 242);
  fill: rgba(102, 16, 242, 0.5);
  stroke-width: 3px;
  cursor: pointer;
}

.chart-event-tooltip{
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  padding: 10px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 12px;
}

#commodity-control{
  display: flex;
  justify-content: center;
}